#line-chart, #surveyor-pie-chart, #wk-bar-chart, #route-pie-chart, #surveyor-count, #surveyor-route, #route-count, #transfer, #trip,
#agency, #faretype, #purchasetype, #daypass, #singlefare, #purloc, #willing-count, #payment, #college, #collegeattend, #smartphone,
#internet, #age, #gender, #race, #disability, #transit
{
  max-width: 1000px;
  width: 100%;
  height: auto;
  display: none;
}


#button-header {
padding-left: 20px;
padding-bottom: 10px;
display: none; 
}

#filter_line {
overflow: scroll;
height: 300px;

}

#surveyor-pct {
  max-width: 1000px;
  width: 100%;
  height: auto;
  background-color: LightSteelBlue;
}

#route-pct {
  max-width: 1000px;
  width: 100%;
  height: auto;
  background-color: Azure;
}

#rte-count {
  max-width: 1000px;
  width: 100%;
  height: auto;
  background-color: rgba(230,230,250,0.6);
}

#message {
  font-size: x-large;
  padding-left: 100px;
  padding-top: 80px;

}


