#line-chart, #surveyor-pie-chart, #wk-bar-chart, #route-pie-chart, #surveyor-count, #surveyor-route, #route-count, #transfer, #trip,
#agency, #faretype, #purchasetype, #daypass, #singlefare, #purloc, #willing-count, #payment, #college, #collegeattend, #smartphone,
#internet, #age, #gender, #race, #disability, #transit, #vehicle, #house, #vecount, #income, #poverty
{
  max-width: 1000px;
  width: 100%;
  height: auto;
  display: none;
}


#button-header {
padding-left: 20px;
padding-bottom: 10px;
display: none; 
}

#intro-main, #content-main {
  padding-left: 80px;
  padding-top: 40px;
  max-width: 965px;
  width: 100%;
}

#intro {
  padding-left: 20px;
}

#filter_line, #filter_ques, #filter_rte {
overflow: scroll;
height: 300px;

}

#filter_day {
  overflow: scroll;
  height: 120px;
}

#surveyor-pct {
  max-width: 1000px;
  width: 100%;
  height: auto;
  background-color: LightSteelBlue;
}

#route-pct {
  max-width: 1000px;
  width: 100%;
  height: auto;
  background-color: Azure;
}

#rte-count {
  max-width: 1000px;
  width: 100%;
  height: auto;
  background-color: rgba(230,230,250,0.6);
}

#message {
  font-size: x-large;
  padding-left: 100px;
  padding-top: 80px;

}

#menu-dd {
  margin-top: 50px;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
}

#menu-select {
  margin-top: 20px;
  margin-left: 50px;
  height:350px;
}

#mapid {
  width: 100%;
  height: 800px;
  margin-top: 60px;
  }

#intro-main, #content-main p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

ul li {
  font-size: 18px;
}

#fareresults-intro {
  margin-top:10px;
  margin-left: 50px;
}

.leaflet-control-layers {
  max-height: 600px;
  width: auto;
  overflow: auto;
}

.map-view {
  margin-left:20px;
  margin-bottom:10px;
}

.week-view {
  margin-left: 20px;
}

.checkweek {
  margin-left: 20px;
}

#map-select {
  margin-top: 30px;
  margin-left: 20px;
  height: 50px;
}

input[type="radio"] {
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

label {
  margin-left: 20px;
  cursor: default;
}

table.fixed {
  table-layout: fixed;
}

table.fixed td {
  overflow: hidden;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #141414;
    color: #ffffff;
}

/* Navbar styling */
.navbar {
    background: #084c8d;
    color: #fff;
    min-height: 60px;
    position: relative;
    /* override bootstrap */
    border: none;
    border-radius: 0;
}

.navbar a {
    color: inherit;
}

.navbar-brand .navbar-brand {
    min-height: 60px;
    line-height: 30px;
}

.navbar-brand-tm {
    float: left;
    height: 60px;
    padding: 15px 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 30px;
}

.navbar-header .navbar-header {
    min-height: 60px;
}

.navbar .navbar {
    min-height: 60px;
}

.navbar-nav > li > a.my-text {
    min-height: 60px;
    padding-top: 20px;
}

.navbar-nav >li > a > b {
    font-size: 15px;
}

.navbar-nav > li > a:hover, .navbar-nav > li.nav-active, 
.navbar .navbar-nav .open .dropdown-menu>li>a:hover  {
    background-color: #fff;
    color: #000;
}

.navbar .navbar-nav .open .dropdown-menu>li>a, .navbar .navbar-nav .open .dropdown-menu {
    background-color: #084c8d;
    color: white;
  }

.navbar .icon-bar {
    background-color: #fff;
}
