

{% extends 'base.html' %}

{% block content %}
<div style="margin:10px">

<table>
  <tr>
    <td style="padding-right:1em">
      <strong>Select Question:</strong>
    </td>
    <td>
        <div class="dropdown">
          <button id="line_btn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Questions
          <span class="caret"></span></button>
          <ul id="filter_line" class="dropdown-menu scrollable-menu" role="menu">
            <li role="presentation" class="divider"></li>    
            
            {% for question in questions %}
              <li><a href="#">{{ question[1] }}</a></li>
            {% endfor %}
          </ul>
        </div>
    </td>
  </tr>
</table>
</div>

<div id="button-header">
    <input type="button"  value="Hide" id="toggle">
</div>

<div id="transfer">
  <table id="transfer-table" class="table table-bordered">
    <tr>
        <th class="text-center">Transfer</th>
        <th class="text-center">Count</th>
        <th class="text-center">Pct</th>
    </tr>
  </table>
</div>


<div id="trip">
  <table id="trip-table" class="table table-bordered">
    <tr>
        <th class="text-center">Range</th>
        <th class="text-center">Count</th>
        <th class="text-center">Pct</th>
    </tr>
  </table>
</div>


<div id="agency">
  <table id="agency-table" class="table table-bordered">
    <tr>
        <th class="text-center">Fare Agency</th>
        <th class="text-center">Count</th>
        <th class="text-center">Pct</th>
    </tr>
  </table>
</div>


<div id="faretype">
  <table id="faretype-table" class="table table-bordered">
    <tr>
        <th class="text-center">Fare Type</th>
        <th class="text-center">Count</th>
        <th class="text-center">Pct</th>
    </tr>
  </table>
</div>


<div id="purchasetype">
  <table id="purchasetype-table" class="table table-bordered">
    <tr>
        <th class="text-center">Purchase Type</th>
        <th class="text-center">Count</th>
        <th class="text-center">Pct</th>
    </tr>
  </table>
</div>


<div id="daypass">
  <table id="daypass-table" class="table table-bordered">
    <tr>
        <th class="text-center">Trip</th>
        <th class="text-center">Count</th>
        <th class="text-center">Pct</th>
    </tr>
  </table>
</div>


<div id="singlefare">
  <table id="singlefare-table" class="table table-bordered">
    <tr>
        <th class="text-center">Trip Type</th>
        <th class="text-center">Count</th>
        <th class="text-center">Pct</th>
    </tr>
  </table>
</div>


<div id="purloc">
  <table id="purloc-table" class="table table-bordered">
    <tr>
        <th class="text-center">Purchase Location</th>
        <th class="text-center">Count</th>
        <th class="text-center">Pct</th>
    </tr>
  </table>
</div>


<div id="payment">
  <table id="payment-table" class="table table-bordered">
    <tr>
        <th class="text-center">Payment</th>
        <th class="text-center">Count</th>
        <th class="text-center">Pct</th>
    </tr>
  </table>
</div>


<div id="college">
  <table id="college-table" class="table table-bordered">
    <tr>
        <th class="text-center">College Student</th>
        <th class="text-center">Count</th>
        <th class="text-center">Pct</th>
    </tr>
  </table>
</div>


<div id="collegeattend">
  <table id="collegeattend-table" class="table table-bordered">
    <tr>
        <th class="text-center">College</th>
        <th class="text-center">Count</th>
        <th class="text-center">Pct</th>
    </tr>
  </table>
</div>


<div id="smartphone">
  <table id="smartphone-table" class="table table-bordered">
    <tr>
        <th class="text-center">Smartphone</th>
        <th class="text-center">Count</th>
        <th class="text-center">Pct</th>
    </tr>
  </table>
</div>


<div id="internet">
  <table id="internet-table" class="table table-bordered">
    <tr>
        <th class="text-center">Internet</th>
        <th class="text-center">Count</th>
        <th class="text-center">Pct</th>
    </tr>
  </table>
</div>

<div id="line-chart" style="display:none">

</div>


<script>
    var questions = {{questions|tojson|safe}};
    var base = '{{url_for('index')}}';
</script>

<script type="text/javascript" src="{{ url_for('index') }}static/js/sresults.js"></script>

{% endblock %}

