
{% extends 'base.html' %}

{% block content %}

<div id='intro'>
<h4><b>Spring 2016 Fare Survey Overview</b></h4>

</div>

<div id='intro-main'>
<p>The Spring 2016 Fare survey lasted from February 20, 2016 to May 1, 2016. The project was conducted at a system-wide level and used hand-held tablets to collect data. The project was completed one month ahead of schedule and achieved a 30% reduction in cost compared to the paper-based 2012 Fare survey.</p>
<br>
<p>The main objectives for the survey include collecting data for studying the relationship between fare change and ridership change, performing service planning and analysis, completing equity analysis and developing a Title VI report. Survey questionnaires gather the following information:</p>
<br>

<ul>
    <li>Fare type and payment method, fare usage, route, transfers</li>
    <li>College student (yes or no)</li>
    <li>Race, gender, age (for cross-referencing fare type), and income level</li>
    <li>Transit dependency</li>
    <li>English proficiency and other languages spoken at home</li>
</ul>


</div>

<div id='content-main'>

<p>You can read all questions from the Fare Survey 2016 here. Please click <a href ="{{ url_for('index') }}static/pdf/2016FareSurveyQuestionnaireFinal.pdf">Fare Survey 2016 Questionnaire</a>

</div>

{% endblock %}