
{% extends 'base.html' %}

{% block content %}

<div id='intro'>
<h2><b>Introduction to Spring 2016 Fare Survey Goes Here</b></h2>

</div>

<div id='intro-main'>

<h3><b>Content</b></h3>
<li><b>Introduction</b></li>
<li><b>Methodology</b></li>
<li><b>Survey Process</b></li>
<li><b>Results Overview</b></li>
<li><b>Discussion</b></li>
<li><b>Survey Questions</b></li>
<li><b>Survey Related Presentations</b></li>
<li><b>Reports and Papers</b></li>
<li><b>Survey Team Members</b></li>
<li><b>Surveyors Training, Supervision and Hiring</b></li>
<li><b>Other Items</b></li>

</div>
{% endblock %}