
{% extends 'base.html' %}

{% block content %}

<div id="map-select">

<label>Select a Map View By</label>
<div class="map-view"></div>

<input type="radio" name="viewList" value="race">Completed Surveys
<input type="radio" name="viewList" value="income">Income
<input type="radio" name="viewList" value="poverty">Federal Poverty Level
<input type="radio" name="viewList" value="race">Race
<input type="radio" name="viewList" value="race">Frequent Rider

</div>

<div id="mapid">
    
</div>

<div style="padding:30px">
<!--<p>{{rtejsonlist}}</p>-->

</div>

<script>
    var rtejsonlist = {{rtejsonlist|tojson|safe}};
    var base = '{{url_for('index')}}';

</script>

<script type="text/javascript" src="{{ url_for('index') }}static/js/smap.js"></script>

{% endblock %}